<template>
  <main>
    <div class="container">
      <section v-if="questions.length">
        <h2 v-html="questions[currentQuestionIndex].category"></h2>
        <h4 v-html="questions[currentQuestionIndex].question"></h4>
        <ul class="question-list">
          <div class="btn-group-vertical">
            <button
              v-on:click="nextQuestion(answer)"
              class="btn btn-outline-primary"
              v-for="answer of allAnswers[currentQuestionIndex]"
              :key="answer"
              :value="answer"
            >
              {{ answer }}
            </button>
          </div>
        </ul>
      </section>
    </div>
  </main>
</template>

<script>
import { STORAGE_KEY_CONFIG } from "@/consts/storageKeys";
import { getQuestions } from "@/api/questionsAPI";
export default {
  components: {},
  name: "QuestionScreen",
  async created() {
    // Load config from local storage
    const config = JSON.parse(localStorage.getItem(STORAGE_KEY_CONFIG));
    if (config === null) {
      this.$router.push("/");
      return;
    }

    try {
      // Fetch questions from API
      this.questions = await getQuestions(
        config.numOfQuestions,
        config.category,
        config.difficulty,
        config.type
      );

      // Save questions to local storage
      localStorage.setItem("game-questions", JSON.stringify(this.questions));

      // Add correct and incorrect answers to each question to same list
      for (let i = 0; i < this.questions.length; i++) {
        this.allAnswers[i] = this.questions[i].incorrect_answers;
        this.allAnswers[i].push(this.questions[i].correct_answer);

        // Shuffle the answers
        this.allAnswers[i].sort( () => .5 - Math.random() );
      }
    } catch (error) {
      this.error = error.message;
    }
  },
  data() {
    return {
      error: "",
      questions: [],
      answers: [],
      currentQuestionIndex: 0,
      points: 0,
      config: Object,
      allAnswers: [],
    };
  },

  methods: {
    //Method for getting the next question
    nextQuestion(answer) {
      // Load config from local storage
      const config = JSON.parse(localStorage.getItem(STORAGE_KEY_CONFIG));

      // Push answer to list of answers
      this.answers.push(answer);

      // Check if answer is correct
      if (answer === this.questions[this.currentQuestionIndex].correct_answer) {
        // Increse total score by 10
        this.points += 10;
      }

      // Check if the last question is reached
      if (this.currentQuestionIndex > config.numOfQuestions - 2) {
        // Save total score to local storage
        localStorage.setItem("game-result", JSON.stringify(this.points));

        // Save user answers to local storage
        localStorage.setItem("all-answers", JSON.stringify(this.answers));

        // Redirect to ResultScreen
        this.$router.push("/result");
      }

      // Increase the currentQuestionIndex by one
      this.currentQuestionIndex++;
    },
  },
};
</script>

<style scoped>
.container {
  --tw-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  border-radius: 0.25rem;
  overflow: hidden;
  margin: 0 auto;
  display: flexbox;
  justify-content: center;
  align-items: center;
  text-align: center;
}
</style>