<template>
  <main class="container">
    <h4>Trivia Game</h4>

    <fieldset class="mb-3">
      <label for="difficulty" class="form-label">Difficulty</label>
      <select class="form-select" v-model="selectedDifficulty">
        <option value="any">Any Difficulty</option>
        <option v-for="difficulty of difficulties" :key="difficulty">
          {{ difficulty }}
        </option>
      </select>
    </fieldset>

    <fieldset class="mb-3">
      <label for="category" class="form-label">Category</label>
      <select class="form-select" v-model="selectedCategory">
        <option value="any">Any Category</option>
        <option
          v-for="category of categories"
          :value="category"
          :key="category.id"
        >
          {{ category.name }}
        </option>
      </select>
    </fieldset>

    <fieldset class="mb-3">
      <label for="Type" class="form-label">Type</label>
      <select class="form-select" v-model="selectedQuestionType">
        <option value="any">Any Type</option>
        <option
          v-for="questionType of questionTypes"
          :value="questionType"
          :key="questionType.type"
        >
          {{ questionType.name }}
        </option>
      </select>
    </fieldset>

    <fieldset class="mb-3">
      <label for="numOfQuestions" class="form-label">Number of Question</label>
      <input
        class="form-control"
        placeholder="10"
        value="10"
        v-model="numOfQuestions"
      />
    </fieldset>

    <button v-on:click="onStartGame" class="btn btn-primary btn-lg m-2">
      Play Game
    </button>

    <section class="alert alert-danger" v-if="error">
      <h4>Hang on!</h4>
      <p class="mb-0">{{ error }}</p>
    </section>
  </main>
</template>


<script>
import { getCategoryNames } from "@/api/questionsAPI";
export default {
  name: "StartScreen",
  methods: {
    onStartGame() {
      this.error = "";

      // Save config to local storage
      localStorage.setItem(
        "game-config",
        JSON.stringify({
          difficulty: this.selectedDifficulty.toLowerCase(),
          category: this.selectedCategory,
          numOfQuestions: this.numOfQuestions,
          type: this.selectedQuestionType,
        })
      );

      // Redirect to question screen
      this.$router.push("/question");
    },
  },

  async created() {
    try {
      // Get category names
      this.categories = await getCategoryNames();
    } catch (error) {
      this.error = error.message;
    }
  },

  data() {
    return {
      error: "",
      selectedDifficulty: "any",
      selectedCategory: "any",
      selectedQuestionType: "any",
      numOfQuestions: 10,
      questionTypes: [
        {
          name: "True / False",
          type: "boolean",
        },
        {
          name: "Multple Choice",
          type: "multiple",
        },
      ],
      difficulties: ["Easy", "Medium", "Hard"],
      categories: [],
    };
  },
};
</script>

<style scoped>
.container {
  --tw-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  border-radius: 0.25rem;
  overflow: hidden;
  margin: 0 auto;
}
</style>
