
<template>
  <main class="container">
    <div>
      <ul v-for="item of list" :key="item.answer">
        <section>
          <h3 v-html="item.question.category"></h3>
          <h4 v-html="item.question.question"></h4>
          <span>
            <p>Correct Answer: {{ item.question.correct_answer }}</p>
            <p>Your Answer: {{ item.answer }}</p>
          </span>
        </section>
      </ul>
      <div class="score">
        <h1>Your Score</h1>
        <h4 v-html="scoreString"></h4>
      </div>
      <div>
        <button v-on:click="onBackToStart()" class="btn btn-primary btn-lg m-3">
          Back to Start
        </button>
      </div>
      <div>
        <button v-on:click="onReplay()" class="btn btn-success btn-lg">
          Replay
        </button>
      </div>
    </div>
  </main>
</template>

<script>
import {
  STORAGE_KEY_RESULT,
  STORAGE_KEY_QUESTIONS,
  STORAGE_KEY_ANSWERS,
  STORAGE_KEY_CONFIG,
} from "@/consts/storageKeys";

export default {
  name: "ResultScreen",
  components: {},

  methods: {
    onBackToStart() {
      // Redirect to StartScreen
      this.$router.push("/start");
    },

    onReplay() {
      // Redirect to QuestionScreen
      this.$router.push("/question");
    },
  },

  computed: {
    // Computes a new list of objects combining the answers and the questions
    list() {
      return this.allAnswers.map((itm, i) => {
        return { answer: itm, question: this.questions[i] };
      });
    },

    // Computes the score string to be used for displaying the final result
    scoreString() {
      return this.points.toString() + " / " + this.config.numOfQuestions * 10;
    },
  },

  async created() {
    try {
      // Load data from local storage
      this.questions = JSON.parse(localStorage.getItem(STORAGE_KEY_QUESTIONS));
      this.allAnswers = JSON.parse(localStorage.getItem(STORAGE_KEY_ANSWERS));
      this.points = JSON.parse(localStorage.getItem(STORAGE_KEY_RESULT));
      this.config = JSON.parse(localStorage.getItem(STORAGE_KEY_CONFIG));
    } catch (error) {
      this.error = error.message;
    }
  },
  data() {
    return {
      error: "",
      points: 0,
      questions: [],
      allAnswers: [],
      config: {},
    };
  },
};
</script>

<style scoped>
.container {
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  text-align: center;
}
</style>



